@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i");
/* General */

body {
  background: #fff;
  color: #666666;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  color: #1dc8cd;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #1dc9ce;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  background: #1F429B;
  color: #fff;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  transition: none;
  visibility: hidden;
  opacity: 0;
  width: 64px;
  height: 34px;
}

.back-to-top i {
  line-height: 0;
  font-size: 20px;
}

.back-to-top:hover {
  background: #D2D2D2;
  color: #1F429B;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Header */
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  background: transparent;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background:#D2D2D2;
  height: 90px;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  #header #logo img {
    max-height: 40px;
    width: auto;
  }
  #header.header-scrolled {
    height: 50px;
  }
}

/* Navigation Menu */
/*** Desktop Navigation */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  color:white;
  font-size: 15px;
  font-weight: 500;
  padding: 0 2px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: white;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #333333;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #1F429B;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/*** Mobile Navigation */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(26, 26, 26, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  font-weight:600;
  color: #1F429B;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #D72B1F;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

/* Hero Section */
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(58, 58, 58, 0.3), rgba(96, 96, 96, 0.3)), url("../img/hero-bg5.jpg") center top no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-height: 640px) {
  #hero {
    height: 120vh;
  }
}

#hero .hero-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(60% - 60px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#hero h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px;
  /*border: 2px solid #fff;*/
  color: #fff;
  background-color:#1F429B ;
}

#hero .btn-get-started:hover {
  color: #1F429B;
  background: #fff;
}

#hero .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

#hero .product-screens img {
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
}

#hero .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  top: 30px;
}

#hero .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(50% - 154px);
  bottom: 0;
  top: 90px;
}

#hero .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(50% - 374px);
  bottom: 0;
  top: 150px;
}

@media (max-width: 767px) {
  #hero .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }
  #hero .product-screens .product-screen-2, #hero .product-screens .product-screen-3 {
    display: none;
  }
}

/* Sections */
section {
  overflow: hidden;
}

/* Sections Header */
.section-header .section-title {
  font-size: 32px;
  color: #D72B1F;
  text-align: center;
  font-weight: 600;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1F429B;
  background: linear-gradient(0deg, #1F429B 0%, #1F429B 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-bg {
  background: #eff5f5;
}

/*  Breadcrumbs */
.breadcrumbs {
  padding: 20px 0;
  min-height: 40px;
  margin-top: 92px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* Nosotros */
#nosotros {
  padding: 60px 0;
  overflow: hidden;
}

#nosotros .about-img {
  height: 510px;
  overflow: hidden;
}

#nosotros .about-img img {
  margin-left: 0px;
  max-width: 100%;
}

h4{
  font-size: 14px;
  font-weight: 500;
  color:#D72B1F;
}

@media (max-width: 768px) {
  #nosotros .about-img {
    height: auto;
  }
  #nosotros .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

h2 {
  color:#D72B1F;
  font-weight: 600;
  font-size: 20px;
}


#nosotros .content p {
  line-height: 26px;
  font-size: 13px;
}

#nosotros .content i {
  font-size: 35px;
  padding-right: 4px;
  color: #1F429B;
}
#nosotros .content h2{
  padding-top: 20px;
}

/* Cómo Funciona */
.btnComoFunciona{
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #1F429B;
  color:white;
  border-color: transparent;
  font-weight: 600;
  margin-bottom: 10px; 
}

#como-funciona {
  overflow: hidden;
}

#como-funciona .texto{
  position: absolute;
  top: 60px;
  right: 0;
  height: calc(60% - 60px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 14px;
}

#como-funciona .texto2{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

#como-funciona .texto3{
  position: absolute;
  top: 60px;
  right: 0;
  height: calc(70% - 60px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 14px;
}

#como-funciona .funciona{
  text-transform: uppercase;
  color:#1F429B;
  font-size: 16px;
  line-height: 26px;
}

#como-funciona h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#como-funciona h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #999;
}

#como-funciona p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

#como-funciona i {
  color: #666666;
  font-size: 64px;
  transition: 0.5s;
  float: left;
  padding: 0 15px 0px 0;
  line-height: 1;
}

#como-funciona .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
}

#como-funciona .advanced-feature-img-left {
  max-width: 100%;
  float: left;
  padding: 0 30px 30px 0;
}

@media (max-width: 768px) {
  #como-funciona .advanced-feature-img-right, #como-funciona .advanced-feature-img-left {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  #como-funciona .advanced-feature-img-right, #como-funciona .advanced-feature-img-left {
    max-width: 100%;
    float: none;
    padding: 0 0 30px 0;
  }
}

/* FAQs */
#faq {
  padding: 60px 0;
  overflow: hidden;
}

#faq .faq-list {
  padding: 0;
  list-style: none;
}

#faq .faq-list li {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#faq .faq-list .question {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #1F429B;
  transition: 0.3s;
}

#faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

#faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

#faq .faq-list .icon-show {
  display: none;
}

#faq .faq-list .collapsed {
  color: #1F429B;
  font-weight: 600;
  font-size: 16px;
}

#faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

#faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/* Contact Section
--------------------------------*/
#footer {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#footer .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:#1F429B;
}

#footer .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#footer .social-links {
  padding-bottom: 20px;
}

#footer .social-links a {
  font-size: 18px;
  background: #fff;
  color: #D72B1F;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #D72B1F;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#footer .social-links a i {
  line-height: 0;
}

#footer .social-links a:hover {
  background: #D72B1F;
  color: #fff;
}

#footer .info {
  color: #333333;
}

#Footer .contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#footer .contact-form .sent-message {
  display: none;
  color: #fff;
  background: #1F429B;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#footer .contact-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#footer .contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #1F429B;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#footer .contact-form input, #footer .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#footer .contact-form input::focus, #footer .contact-form textarea::focus {
  background-color: #1F429B;
}

#footer .contact-form button[type="submit"] {
  background: #D72B1F;
  width: 250px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  padding: 8px 30px;
  color: #fff;
}

#footer .contact-form button[type="submit"]:hover {
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Footer */
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #888;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

.footer{
  margin: -5px;
  font-size: 12px;
  font-weight: 600;
  color:#1F429B;
}

.footer-text{
  margin: -5px;
  font-size: 12px;
  font-weight: 400;
  color:#1F429B;
  padding-bottom: 10px;
}

.footer-icon{
  margin: 0px 20px 0 0px;
  color: #D72B1F;
}

p.form-message {
  margin-top: 20px;
}

p.form-message.success {
  color: green;
}

p.form-message.error {
  color: red;
}

#participa{
  background-color:#1F429B!important;
  border-radius: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px;
}

.inscribete {
  background-color: #1F429B;
  color:white; 
  font-family: "Montserrat";
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
}

.inscribete:hover {
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  color:#1F429B;
}

.close-button {
  -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
  background-color: #1F429B;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
  color: white;
  margin-left: -9px;
  margin-top: -20px;
  left: 0;
  position: absolute;
  padding: 1.5px 7px;
  transition: all 0.5s ease;
}

.close-button:hover {
  background-color: #fff;
  color: #1F429B;
}


.body-title{
  color: #1F429B;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 20px 65px 10px 65px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.body-paragraph{
  color: dimgray;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 20px;
  padding: 20px 65px 20px 65px;
}

.modal-content{
  border-radius: 0px 15px 0px 0px;
  font-family: 'Montserrat', sans-serif;
}

.modal-header{
  background-color: #1F429B;
  border-radius: 0px 10px 0px 0px;
}


.modal-footer{
  border-top: transparent;
}

.modal{
  backdrop-filter: brightness(0.5);
}